POSTGRES_USER=admin
POSTGRES_PASSWORD=change_me
POSTGRES_DB=air_traffic

POSTGRES_PORT=5433
MONGO_PORT=27018
N8N_PORT=5679

N8N_HOST=192.168.85.131
WEBHOOK_URL=http://192.168.85.131:5679/

GENERIC_TIMEZONE=Europe/Paris
TZ=Europe/Paris

OPENSKY_API_URL=https://opensky-network.org/api/states/all
N8N_WEBHOOK_URL=http://n8n:5678/webhook/air-traffic
FETCH_INTERVAL=300
